<div
  class="item {{if this.zoom "has-zoomed-image"}} {{if @isDetails "item-has-details"}}"
  {{on "click" this.onDetails}}
>
  <Item::Image
    src={{this.itemImage}}
    @isDetails={{@isDetails}}
    @zoom={{this.zoom}}
    @toggleZoom={{this.toggleZoom}}
  />
  <Item::Details
    @isDetails={{@isDetails}}
    @item={{@item}}
    @color={{this.color}}
    @colorChanged={{this.updateColor}}
  />
</div>