<div
  class="item {{if this.zoom "has-zoomed-image"}} {{if @isDetails "item-has-details"}}"
  {{on "click" this.onDetails}}
>
  <Product::Image
    src={{this.productImage}}
    @isDetails={{@isDetails}}
    @zoom={{this.zoom}}
    @toggleZoom={{this.toggleZoom}}
  />
  <Product::Details
    @isDetails={{@isDetails}}
    @product={{@product}}
    @color={{this.color}}
    @colorChanged={{this.updateColor}}
  />
</div>