<div class="product-details">

  <!-- Item Header -->
  <section>
    <h3>{{@product.name}}</h3>
    <div class="text-warning">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star-half-o" aria-hidden="true"></i>
    </div>
  </section>

  <!-- Price -->
  {{#if @isDetails}}
    <section>
      <del class="small text-black-50">{{currency @product.price.original}}</del>
      <i class="text-danger font-weight-bold">{{currency @product.price.current}}</i>
    </section>
  {{else}}
    <h4>
      <del class="small text-black-50">{{currency @product.price.original}}</del>
      <i class="text-danger font-weight-bold">{{currency @product.price.current}}</i>
    </h4>
  {{/if}}

  {{#if @isDetails}}
    <!-- Item description -->
    <section>
      <h5>Description</h5>
      <p>{{@product.description}}</p>
    </section>

    <!-- Actions -->
    <section class="d-flex justify-content-between align-items-end">
      <div>
        <h5>Color</h5>
        <div class="product-colors">
          {{#each @product.colors as |color|}}
            <span
              class="product-color color-{{color.color}} {{if (eq @color color.color) "color-active"}}"
              {{on "click" (fn @colorChanged color.color)}}
            ></span>
          {{/each}}
        </div>
      </div>
      <div>
        <button
          type="button"
          class="btn btn-info"
          {{on "click" this.addToCart}}
        >
          <i class="fa fa-shopping-cart mr-1" aria-hidden="true"></i>
          Add to cart
        </button>
      </div>
    </section>
  {{/if}}
</div>