<main class="container mt-5">
  <h1>Shopping Cart</h1>

  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <LinkTo @route="index">Home</LinkTo>
      </li>
      <li class="breadcrumb-item active">
        Shopping Cart
      </li>
    </ol>
  </nav>
  <hr>

  {{#each cart.cartList as |item|}}
    <div class="cart-item d-flex align-items-center">
      <div class="cart-item-thumbnail">
        <img src={{item.image}}>
      </div>
      <div class="ml-3">
        <h4>{{item.name}}</h4>
        <div>
          <del class="small text-black-50">{{currency item.price.original}}</del>
          <i class="text-danger font-weight-bold">{{currency item.price.current}}</i>
        </div>
      </div>
      <input
        type="number"
        class="ml-auto"
        value={{item.count}}
        {{on "change" (fn this.changeItemCount item)}}>
      <button class="ml-3" {{on "click" (fn this.removeItem item)}}>&times;</button>
    </div>

    <hr>
  {{/each}}

  <section class="w-50 ml-auto text-right mb-5">
    <div class="row">
      <span class="col">Subtotal</span>
      <span class="col">{{currency this.subtotal}}</span>
    </div>
    <div class="row">
      <span class="col">Tax</span>
      <span class="col">{{currency this.tax}}</span>
    </div>
    <div class="row">
      <b class="col">Total</b>
      <b class="col">{{currency this.total}}</b>
    </div>
  </section>

  <button type="button" class="btn btn-success float-right">
    Check out
  </button>
</main>